* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
} /* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #f6f9fd;
  border-radius: 10px;
}
.logo img {
  width: 70px;
}
nav a {
  margin: 0 12px;
  text-decoration: none;
  color: black;
  position: relative;
}
nav a::after {
  content: "";
  height: 2px;
  width: 0;
  background: #3aa7ff;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}
nav a:hover::after {
  width: 100%;
}
.user {
  background: #e6f2ff;
  padding: 8px 15px;
  border-radius: 20px;
} /* HERO */
.hero {
  display: flex;
  padding: 60px;
  justify-content: space-between;
}
.hero-text span {
  color: #3aa7ff;
}
.hero-img {
  height: 100px;
} /* ACHIEVEMENTS */
.achievements {
  background: #3aa7ff;
  color: black;
  display: flex;
  justify-content: space-around;
  padding: 25px;
  font-weight: bold;
} /* SERVICES */
.services-section {
  display: flex;
  padding: 40px;
  gap: 30px;
  background: #f3f3f3;
}
.services,
.cart {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
}
.small-text {
  font-size: 13px;
  color: #555;
}
.service-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.add-note {
  margin-top: 160px;
  font-size: 14px;
}
.circle {
  border: 1px solid black;
  border-radius: 50%;
  padding: 2px 6px;
  margin-right: 5px;
} /* CART */
.cart {
  background: #f0f0f0;
}
.cart-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.empty-cart {
  text-align: center;
  padding: 20px;
}
.total {
  display: flex;
  justify-content: space-between;
} /* BOOK */
.book input {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}
.book button {
  width: 100%;
  padding: 10px;
  background: #3aa7ff;
  color: white;
  border: none;
} /* FEATURES */
.features {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  text-align: center;
} /* NEWSLETTER */
.newsletter {
  background: #3aa7ff;
  color: white;
  padding: 40px;
  text-align: center;
}
.newsletter h2 {
  text-align: left;
  font-style: normal;
}
.subscribe-btn {
  padding: 8px;
  width: 120px;
  height: 40px;
} /* FOOTER */
footer {
  background: #e4e4e4;
  color: rgb(53, 53, 53);
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.social i {
  font-size: 16px;
  margin: 0 5px;
}
